<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomerInputSourceFile" value="C:\RoyalLuton\Source\Customer.csv"/>
    <add key="CustomerTargetFolder" value="C:\RoyalLuton\Target"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>